:root {
	--dark: #23283d;
	--light: #ffffff;
	--hover: #3b82f6;
}

body {
	background-color: var(--light);
	color: var(--dark);
	font-family: "IBM Plex Sans", sans-serif;
	padding: 3rem;
	line-height: 1.6;
	max-width: 500px;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

h1 {
	text-transform: lowercase;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

h2 {
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	margin: 0;
}

p span.emoji {
	flex-shrink: 0;
}

ul {
	padding: 0;
	list-style: none;
}

ul li {
	margin: 0;
}

a {
	text-decoration: underline;
	color: var(--dark);
}

a:hover {
	text-decoration: underline;
	color: var(--hover);
}

#links {
	margin-top: 2rem;
}

@media screen and (max-width: 400px) {
	body {
		padding: 1rem;
	}
}
