:root {
	--dark: #23283d;
	--light: #ffffff;
	--accent: #c7773d;
	--link-hover: #3b82f6;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--light);
	color: var(--dark);
	font-family: "IBM Plex Sans", sans-serif;
	padding: 3rem;
	line-height: 1.6;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

h1 {
	text-transform: lowercase;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

p {
	font-size: 1rem;
	max-width: 40rem;
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

ul li {
	margin: 0;
}

a {
	text-decoration: underline;
	color: var(--dark);
}

a:hover {
	text-decoration: underline;
	color: var(--accent);
}

#links {
	margin-top: 2rem;
}

footer {
	font-size: 1rem;
	margin-top: 4rem;
	color: #888;
}

footer a {
	color: var(--link-hover);
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}
